h1,h2,h3,h4,ul,dl,dd,li {
    margin: 0;
}

.f-left {
    float: left;
}
.f-right {
    float: right;
}

#footer {
    width: 1200px;
    margin: 20px auto 0;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    background-color: #cccccc;
}

#header {
    width: 100%;

}
#header header{
    width: 1200px;
    margin: 10px auto;
    height: 150px;
    border: 2px solid #ccc;
}
#header header h1 {
    float: left;
    font-size: 30px;
    margin: 40px 0 0 40px;

}
#header header ul {
    float: right;
    margin-top: 100px;
}
#header header ul li {
    display: inline-block;
    width: 80px;
    height: 40px;
}
#header header ul li a {
    text-decoration: none;
    color: #333333;
}
#header header ul li a:hover {
    color: red;
}

li{
    list-style: none;
}