.register_wrap {
    width: 1200px;
    margin:  0 auto;
}
.register {
    height: 600px;
    border: 2px solid #cccccc;
    text-align: center;
}
.register .form {

}
.register .form h3 {
    margin: 10px 0;
}
.register h2 {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    background-color: #eeeeee;
    margin: 0;
}
.register dl {
    width: 600px;
    margin: 0 auto;
}
.register dl dd {
    padding: 3px 0;
}
.register dl dd.face {
    text-align: center;
    padding-left: 100px;
}
.register dl dd input {
    border: 1px dashed #333333;
}
.register dl dd label{
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px;
    text-align: right;
    width: 150px;
    vertical-align: top;
}

